<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Usage access is user-enabled -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <!-- if we're given it through adb -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Focus"
        android:isAccessibilityTool="false"
        android:enableOnBackInvokedCallback="true"
        android:appCategory="productivity">
        <!-- Shizuku is an optional dependency for advanced features -->
        <!-- android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" is to protect this provider from accessing by normal apps -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        
        <!-- Ugh. Samsung restricts apps that use live notifications to a whitelist:
            https://www.androidauthority.com/one-ui-8-live-updates-support-3573794/
            https://sammyguru.com/now-bar-internet-speed-meter-unofficial-app/
            Who knows if this does anything, but it's in other apps that use live notifications. -->
        <meta-data
            android:name="com.samsung.android.support.ongoing_activity"
            android:value="true" />
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Focus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".accessibility.FocusAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".focus.FocusSessionAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".focus.FocusReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".usage.UsageRefreshReceiver"
            android:exported="false" />
    </application>

</manifest>
